:root {
    background: #A3ABB2;
    background: #00000033;
    background: #3D3D3D;
    background: #171F26;
    background: #3E64AA;
    background: #FFE071;
    background: #FFFFFF;
    background: #000000;
    background: #0C151D;
    background: #F1F2F4;
    background: #FFE071E0;
    width: 1728px;
    height: 1999px;
    border-radius: 20px;
    background: #0C151D;
}
.caja-1{
    display: flex;
    width: 631px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.imagen{
    width: 192px;
    height: 192px;
    flex-shrink: 0;
    border-radius: 192px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.nombre{
    width: 372px;
    color: #F1F2F4;
    font-family: Poppins;
    font-size: 46px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.ocupacion{
    width: 372px;
    color: #A3ABB2;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.gateto{
    width: 36px;
    height: 36px;
}
.twiter{
    width: 30px;
    height: 24.422px;
    flex-shrink: 0; 
    fill: #A3ABB2;   
}
.in{
    width: 36px;
height: 36px;
}
.YouTube{
    width: 36px;
height: 36px;
}
.caja2{
    display: flex;
    width: 634px;
    padding: 20px 2px;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.numero1{
    color: #A3ABB2;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.numero2{
    color: #A3ABB2;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.numero3{
    color: #A3ABB2;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.texto1{
    color: #A3ABB2;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.texto2{
    color: #A3ABB2;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.texto3{
    color: #A3ABB2;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}   
.caja3{
    display: flex;
width: 618px;
height: 80px;
justify-content: center;
align-items: flex-start;
gap: 38px;
flex-shrink: 0;
}
.amarilla{
    width: 290px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 10px;
background: #FFE071;
}
.tamarilla{
    width: 182.313px;
    color: #3D3D3D;
text-align: center;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.531px;
}
.bamarillo{
    width: 26.979px;
height: 24px;
flex-shrink: 0;
}
.nocolor{
    width: 290px;
height: 80px;
flex-shrink: 0;
border-radius: 10px;
border: 0px solid #3E64AA;
background: #171F26;
}
.contact{
    color: #A3ABB2;
text-align: center;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.5px;
}
